<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/97ab0026dc.js" crossorigin="anonymous" ></script>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <title>Document</title>
    <script src="script.js"></script>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="newperson">
      <div class="main">
        <button id="newuser" onclick="showHide()">New User</button><br />

        <form class="userform" id="userForm" action="/updateData" method="POST">
          <span>
            <i class="fa-solid fa-hashtag"></i>
            <input type="number" id="userId" placeholder="Id" value="<%= people[0].userId %>" name="userId" required /> </span><br />
          <span>
            <i class="fa-solid fa-hashtag"></i>
            <input type="number" id="titheNo" placeholder="Tithe Number" value="<%= people[0].tithe_no %>" name="titheNumber" required /> </span><br />
          <span>
            <i class="fa fa-user"></i>
            <input type="text" id="firstName" placeholder="First Name" value="<%= people[0].first_name %>" name="firstName" required/> </span><br />
          <span>
            <i class="fa fa-user"></i>
            <input type="text" id="lastName" placeholder="Last Name" value="<%= people[0].last_name %>" name="lastName" required/> </span><br />
          <span>
            <i class="fa-solid fa-phone-flip"></i>
            <input type="number" id="contact" placeholder="Contact" value="<%= people[0].contact %>" name="contact" required/> </span><br />
          <button id="addUser" type="submit" value="submit">Update User</button>
        </form>
      </div>
    </div>

    
</body>
</html>